body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.controls {
    margin-bottom: 50px;
  }

input {
    width: 100px;
}

img {
    width: auto;
    height: 70vh;
}

:root {
    --base: #0077ff;
    --spacing: 10px;
    --blur: 2px
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}